*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.BarreNavigation {
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;   
}

.barNavLogo {
    height: 60px;
    width: 90px;
    margin-right: 40px;
    margin-left: 40px;
}

.buttonSoutenir {
    background-color: #FF5E32 ;
    color: #EFECE4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px #ea7453;
}

.contenuNavigation {
    display: block;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: #FF5E32;
    text-align: center;
    padding: 14px 16px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
   
}

.carousel {
    height: 100vh;
    width: 100%;
    position: relative;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#btnPrev {
    left: 10px;
}

#btnNext {
    right: 10px;
}

.carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel li{
    list-style: none;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.sectionPresentation {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: #EFECE4;
    color: #FF5E32;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

.slide.active {
    opacity: 1;
}

.slide img{
    display:block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    display: block;
    background-color: #EFECE4;
    color: #FF5E32;
    text-align: center;
    padding: 20px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    border-top: 3px solid #FF5E32;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.footerLiens{
    display: flex;
    justify-content: space-between;
}

.lienFooter{
    color: #FF5E32;
    text-decoration: none;
    margin-left : 50px;
}

.footerLogo {
    height: 150px;
    width: 220px;
    margin-bottom: 20px;
}

.contenuSocialMedia {
    display: flex;
    flex-direction: row;
    margin-top : 30px;
    margin-bottom: 40px;
}

.socialMediaIcon {
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.FooterContenuLegal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid black;
    margin-bottom: 50px;
}

.contenuLegal {
    display: block;
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
} 

 .contenuLegal a  {
    color: black;
}

.lienLegal {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
  
}

.footerContact {
    display: block;
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
}

.contenuFooterContact {
    display: block;
    font-family: Poppins, sans-serif;
    color: black;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
}
.contenuFooterContact h3 {
    display: flex;
    justify-content: flex-start;
    color: #FF5E32;
    margin-bottom: 10px;
}

.contenuFooterContact p {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin-bottom: 10px;
}

.bannerEducation {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 400px;
    width: 100%;
    background-color: #FF5E32;
}

.TitreBannerEducation{ 
    padding-top: 100px;
    width: 500px;
    margin-left: 90px;
    color: white;
}

.bannerImageEducation{
    height:300px;
    width: 250px;
    margin-right: 100px;
    padding-top: 50px;
}

.listArticleEducation {
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.listeEducation{
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #B6CF4F;
    padding : 20px;
    text-align: center;
    height: 100px;
    margin : 30px;
    width: 170px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #91a53f ;
}

.ArticleEducation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenuArticleEducation {
    margin-left: 20px;
}
   

.titreArticleEducation {
    display: block;
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.textArticleEducation {
    display: block;
    font-family: Poppins, sans-serif;
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    margin-right: 90px;
 ;
} 

.articleImageEducation {
    height: 400px;
    width: 400px;
    margin-left: 90px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #91a53f ;
}

.secondArticleEducation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 15px;
    } 

.contenuEducationDeuxiemeArticle{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.textArticleEducation{
    display: block;
    font-family: Poppins, sans-serif;
    color: black;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.liEducation{
    font-family: Poppins, sans-serif;
    color: black;
    text-decoration: unset;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: "- ";
}

.listeArticleEducationDeux {
    display: flex;
    justify-content: space-around;
}

.articleDeuxEducation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5E32;
    color: white;
    width: 150px;
    padding: 10px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.savoirPlus {
    color: #FF5E32;
    background-color: transparent;
    border: 2px solid #FF5E32;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 50px;
}

.sectionTroisièmeArticleEducation{
    display: block;
    text-align: center;
}

.troisiemeTitreArticleEducation {
    display: block;
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.troisiemeTexteArticleEducation {
  align-items: center;
  text-align: center;
  font-family: poppins, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} 

.DeuxiemeImageEducation {
    height: 400px;
    width: 400px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #91a53f ;
}

.savoirPlus a {
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-decoration: none;
}



