*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.BarreNavigation {
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;   
}

.barNavLogo {
    height: 60px;
    width: 90px;
    margin-right: 40px;
    margin-left: 40px;
}

.buttonSoutenir {
    background-color: #FF5E32 ;
    color: #EFECE4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px #ea7453;
}

.contenuNavigation {
    display: block;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: #FF5E32;
    text-align: center;
    padding: 14px 16px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
   
}

.carousel {
    height: 100vh;
    width: 100%;
    position: relative;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#btnPrev {
    left: 10px;
}

#btnNext {
    right: 10px;
}

.carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel li{
    list-style: none;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.sectionPresentation {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: #EFECE4;
    color: #FF5E32;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
}

.slide.active {
    opacity: 1;
}

.slide img{
    display:block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    display: block;
    background-color: #EFECE4;
    color: #FF5E32;
    text-align: center;
    padding: 20px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    border-top: 3px solid #FF5E32;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.footerLiens{
    display: flex;
    justify-content: space-between;
}

.lienFooter{
    color: #FF5E32;
    text-decoration: none;
    margin-left : 50px;
}

.footerLogo {
    height: 150px;
    width: 220px;
    margin-bottom: 20px;
}

.contenuSocialMedia {
    display: flex;
    flex-direction: row;
    margin-top : 30px;
    margin-bottom: 40px;
}

.socialMediaIcon {
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.FooterContenuLegal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid black;
    margin-bottom: 50px;
}

.contenuLegal {
    display: block;
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
} 

 .contenuLegal a  {
    color: black;
}

.lienLegal {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
  
}

.footerContact {
    display: block;
    font-family: Poppins, sans-serif;
    color: #FF5E32;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
}

.contenuFooterContact {
    display: block;
    font-family: Poppins, sans-serif;
    color: black;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
}
.contenuFooterContact h3 {
    display: flex;
    justify-content: flex-start;
    color: #FF5E32;
    margin-bottom: 10px;
}

.contenuFooterContact p {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin-bottom: 10px;
}









